<div class="header_landing_page wow fadeInDown">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-6">
        <div class="logo"><h1><a href="#">Logo</a></h1></div>
      </div>
      <div class="col-sm-10 col-xs-6">
        <div class="navbar navbar-default menu_n">
<div class="navbar-header">
<span class="main_text_menu">Menu </span>
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
<div class="navbar-collapse collapse">
        <div class="navmenus">
          <ul>
          <li><a href="examination.htm">Examination</a></li>
          <li><a href="reports.html">Reports</a></li>	
          <li><p class="welcomeadmin">Welcome Doctor</p></li>		  
          <li class="profile_dropdwon dropdown"><a class="dropdown-toggle" type="button" data-toggle="dropdown"><img src="noimage.png" class="defaultimage"> <span><b class="caret"></b></span></a> 
           <ul class="dropdown-menu">
		    <li><a href="profile.html">Profile</a></li>
            <li><a href="changepassword.html">Change Password</a></li>
            <li><a href="doctor_login.htm">Logout</a></li>
           </ul> 
          </li>
		  <li id="date"></li>
		  </ul>
        </div>
      </div>
      </div>
      </div>
      </div>  
    </div>
  </div>  
</div>

<!-- content --> 
<div class="sign_in">
 <div class="container">
  <div class="row">
    <h3>{{ctrl.message}}</h3>
 <div class="hole_max wow fadeInLeft"> 
 <div class="section_vertical"> 
  <div class="section_one">      
  <form class="form-horizontal doctorregister" role="form">               
               
				<div class="form-group row">
                    <label for="doctorname" class="col-sm-3 control-label use">Doctor Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="username" placeholder="" class="form-control" ng-model="ctrl.currentUser.firstName">                       
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-3 control-label use">Email Address</label>
                    <div class="col-sm-9">
                        <input type="email" id="emailfield" placeholder="Email" class="form-control" ng-model="ctrl.currentUser.email">
                    </div>
                </div>
				<div class="form-group row">
                    <label for="phone" class="col-sm-3 control-label use">Phone Number</label>
                    <div class="col-sm-9">
                        <input type="text" id="phone" placeholder="" class="form-control" ng-model="ctrl.currentUser.phoneNumber">                       
                    </div>
                </div>
				<div class="form_group row">
					<label for="address" class="col-sm-3 control-label use">Address</label>
					<div class="col-sm-9">
						<textarea name="address" placeholder="" class="form-control" rows="5" id="comment"> </textarea>
				    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 control-label use">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" placeholder="Password" class="form-control">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="profileimage" class="col-sm-3 control-label use">Profile Image</label>
                    <div class="col-sm-9">
                        <input type="file" id="profileimage" placeholder="" class="form-control" >                       
                    </div>
                </div>
                
                
                
                <div class="login_btn">
         <div class="two_btn">
          <a type="submit" value="Submit" class="login_button changepassword" ng-click="ctrl.updateProfile()">Submit</a>
          <!-- <a type="reset" value="Reset" class="login_button resetpassword">Reset</a> -->
         </div>
    </div>
            </form> <!-- /form -->
 
  </div>
  
</div>
</div>
  </div>
 </div>
</div>
<!-- end -->

<div class="footer  wow fadeInUp">
  <div class="container">
    <div class="row">
       <div class="col-sm-3">
	   </div>
      <div class="col-sm-12">
        <p class="footer_content">Copyright 2017.All Rights Reserved.</p>		
      </div> 
	  
    </div>
  </div>
</div>



</body>
</html>



<script type="text/javascript">

        $(document).ready(function(){
        wow = new WOW(
        {
        boxClass:     'wow',      // default
        animateClass: 'animated', // default
        offset:       0,          // default
        mobile:       true,       // default
        live:         true        // default
        }
        )
        wow.init();
        });
</script>

<script type="text/javascript">
            function updateTime() {
            var currentTime = new Date();
			var n =  new Date();
			 var y = n.getFullYear();
			 var m = n.getMonth() + 1;
			 var d = n.getDate();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            if(hours<10)
            {
            hours = "0" + hours;
            }
            if (minutes < 10){
            minutes = "0" + minutes;
            }
            if (seconds < 10){
            seconds = "0" + seconds;
            }
            var v = m + "/" + d + "/" + y + ' ' + hours + ":" + minutes + ":" + seconds + " ";
            if(hours > 11){
            v+="PM";
            } else {
            v+="AM"
            }
            setTimeout("updateTime()",1000);
            document.getElementById('date').innerHTML=v;
            }
            updateTime();
            //-->
        </script>
		<style>
		
		.footer.all_cm.wow.fadeInUp {
    margin-top: 35px;
}
</style>