<section class="reset-password">
  <form name="resetPasswordForm">
    <img class="small-logo" src="images/yenom-logo.png" alt="">
    <div ng-if="resetPasswordCtrl.token && !resetPasswordCtrl.passwordResetSuccess">
      <div>
        <legend> Reset Password </legend>
        <div class="errors" ng-if="resetPasswordCtrl.errors">
          <ol>
            <li ng-repeat="(field, error) in resetPasswordCtrl.errors"> {{error.message}} </li>
          </ol>
          <hr/>
        </div>
        <div class="form-group form-group-lg" ng-class="{'has-error': resetPasswordCtrl.showHelp && resetPasswordForm.email.$invalid}">
            <input type="email" class="form-control" validate-email name="email" id="emailID" placeholder="email" ng-model="resetPasswordCtrl.user.email">
        </div>
        <div class="form-group form-group-lg" ng-class="{'has-error': resetPasswordCtrl.showHelp && resetPasswordForm.passwordField.$invalid, 'm-b-0': resetPasswordCtrl.authMode == 'login'}">
            <input type="password" name="passwordField" class="form-control" id="password" ng-model="resetPasswordCtrl.user.password" placeholder="password" ng-required="true">
        </div>
        <button type="submit"
                class="btn btn-default btn-md loginBtn text-center"
                ng-click="resetPasswordCtrl.showHelp = true; resetPasswordCtrl.setPassword()">Set Password</button>
      </div>
    </div>
    <div ng-if="resetPasswordCtrl.passwordResetSuccess">
      {{resetPasswordCtrl.message}} <a href="/#/login">here</a>
    </div>
    <div ng-if="!resetPasswordCtrl.token">
      <h4> Please request for instructions <a href="/#/login">here</a> to reset your password </h4>
    </div>
  </form>
</section>
