<div class="col col-xs-12 col-sm-6 col-md-5 col-lg-4 sign-up sign-up-container"
     ng-controller="SignUpCtrl as ctrl">
    <div id="loginForm">
        <!--<img class="small-logo" src="images/yenom-logo.png" alt="">-->
        <div class="row text-center text-white">
            <span class="close-icon text-danger"
                  title="close"
                  ng-if="appCtrl.showLogin" 
                  ng-click="appCtrl.showLogin = false;">&times</span>  
            <h2>
                {{ctrl.authMode == 'sign-up' || ctrl.hideFbLoginBtn ? 'Sign up' : 'Login'}} 
            </h2>
            <button class="btn btn-fb btn-primary"
                   ng-if="!ctrl.hideFbLoginBtn"
                    ng-click="ctrl.showFbLogin()">
              <i class="icon-facebook-circled-1"></i>&nbsp;{{ctrl.authMode == 'sign-up' ? 'Sign up' : 'Login'}} with Facebook
            </button>
            <div class="request-invite">
                <a href="" data-toggle="modal" data-target="#inviteModal">
                    <b>request for invite code</b>
                </a>
            </div>
            <div ng-show="ctrl.authMode == 'sign-up'">if you have an account <a class="text-brown text-shadow-black" href="" ng-click="ctrl.showHelp = false; ctrl.authMode = 'login'; ctrl.errors = null;"><b>login</b></a></div>
            <!--<div ng-hide="ctrl.authMode == 'sign-up'"><a class="text-brown text-shadow-black" href="" ng-click="ctrl.showHelp = false; ctrl.authMode = 'sign-up'"><b>Sign up</b></a> with an email</div>-->
        </div>
        <div class="errors" ng-if="ctrl.errors">
          <ol>
            <li ng-repeat="(field, error) in ctrl.errors"> {{error.message}} </li>
          </ol>
        </div>
        <form class="form" name="signUpForm" id="signUpForm" ng-if="ctrl.authMode != 'facebook'">
            <span ng-init="ctrl.form = signUpForm"></span>
            <div class="col col-md-12 no-pad" ng-if="ctrl.authMode == 'sign-up'">
                <div class="col col-md-6 first-name">
                    <div class="form-group form-group-lg"
                        ng-class="{'has-error': ctrl.showHelp && signUpForm.firstName.$invalid}">
                        <input type="text" class="form-control" name="firstName" id="username" placeholder="first name" ng-model="ctrl.user.firstName" ng-required="true">
                    </div>
                </div>
                <div class="col col-md-6 last-name">
                  <div class="form-group form-group-lg" ng-init="ctrl.form = signUpForm"
                  ng-class="{'has-error': ctrl.showHelp && signUpForm.lastName.$invalid}">
                      <input type="text" class="form-control" name="lastName" id="username" placeholder="last name" ng-model="ctrl.user.lastName" ng-required="true">
                  </div>
                </div>
            </div>
            <div class="form-group form-group-lg" ng-class="{'has-error': ctrl.showHelp && signUpForm.email.$invalid}">
                <input type="email" class="form-control" validate-email name="email" id="emailID" placeholder="email" ng-model="ctrl.user.email">
            </div>
            <div class="form-group form-group-lg" ng-class="{'has-error': ctrl.showHelp && signUpForm.passwordField.$invalid, 'm-b-0': ctrl.authMode == 'login'}">
                <input type="password" name="passwordField" class="form-control" id="password" ng-model="ctrl.user.password" placeholder="password" ng-required="true">
            </div>
            <div class="form-group form-group-lg" ng-if="ctrl.authMode == 'sign-up'">
                <input type="text" name="phone" class="form-control" id="phone" accept-number ng-model="ctrl.user.phoneNumber" placeholder="phone">
            </div>
            <div class="input-group form-group form-group-lg" ng-if="ctrl.authMode == 'sign-up'" class="input-group input-group-lg" ng-class="{'has-error': ctrl.showHelp && signUpForm.inviteCode.$invalid}">
                <span class="input-group-addon" id="Invite-code">Invite Code</span>
                <input type="text"
                       class="form-control"
                       name="inviteCode"
                       placeholder="Type your invitation code"
                       aria-describedby="Invite-code"
                       ng-required="true"
                       ng-model="ctrl.user.inviteCode">
            </div>
            <div class="col col-md-12 text-center g-recaptcha"
                 vc-recaptcha
                 theme="'light'"
                 key="ctrl.recaptcha.key"
                 on-create="ctrl.recaptcha.setWidgetId(widgetId)"
                 on-success="ctrl.recaptcha.setResponse(response)"
                 on-expire="ctr.recaptcha.cbExpiration()"
                 ng-if="ctrl.authMode == 'sign-up'">
            </div>
            <br/>
            <div class="text-center">
              <button type="submit"
                      class="btn btn-default btn-lg loginBtn"
                      ng-click="ctrl.showHelp = true; ctrl.signIn()">{{ctrl.authMode == 'sign-up' ? 'Register' : 'Login'}}</button>
            </div>
            <div class="clearfix"></div>
            <div class="row forgot-password sign-up" ng-if="ctrl.authMode == 'login'">
                <div class="col col-xs-6 col col-sm-6 col col-md-6 col col-lg-6">
                    <a class="text-brown text-shadow-black" href="" ng-click="ctrl.showHelp = false; ctrl.authMode = 'sign-up'; ctrl.errors = null;"><b>Sign up</b></a>
                </div>
                <div class="col col-xs-6 col col-sm-6 col col-md-6 col col-lg-6 text-right">
                    <a href="" data-toggle="modal" data-target="#forgotPasswordModal" ng-click="ctrl.initRecaptcha()">forgot password</a>
                </div>
            </div>
        </form>

        <!-- Facebook login -->
        <form class="form" name="inviteForm" ng-if="ctrl.authMode == 'facebook'">
          <span ng-init="ctrl.form = inviteForm"></span>
          <div class="input-group input-group-lg" ng-class="{'has-error': ctrl.showHelp && inviteForm.inviteCode.$invalid}">
              <span class="input-group-addon" id="Invite-code">Invite Code</span>
              <input type="text"
                      class="form-control"
                      name="inviteCode"
                      placeholder="Type your invitation code"
                      aria-describedby="Invite-code"
                      ng-required="true"
                      ng-model="ctrl.user.inviteCode">
          </div>
          <br/>
          <div class="form-group form-group-lg">
            <input type="text" name="phone" class="form-control" id="phone" accept-number ng-model="ctrl.user.phoneNumber" placeholder="phone">
          </div>
          <div class="text-center">
            <button type="submit"
                    class="btn btn-default btn-lg loginBtn"
                    ng-click="ctrl.showHelp = true; ctrl.registerWithFacebook()">Register</button>
          </div>
        </form>
    </div>
</div>

<ng-include src="'templates/invite-modal.html'"></ng-include>
<ng-include src="'templates/forgot-password-modal.html'"></ng-include>

<script src="//www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer></script>
