<html>
  <body>
    <h2> There's a new feedback. </h2>
    <div>
      <p> Email: <%= req.email %> </p>
      <p> Type: <%= req.type %> </p>
      <p> Comments: <%= req.comments %> </p>
    </div>
  </body>
</html>
