<html>
  <body>
    <h2> Reset Password Instructions. </h2>
    <div>
      Hey,
      <p>
        We got a request to send instructions for changing your password.
      </p>
      <p>
        Please, follow the <a href="http://yenom.in:3000/#/reset-password?token=<%= user.resetPasswordToken %>">link</a> to set you password.
      </p>
      <p> - Yenom</p>
    </div>
  </body>
</html>
