<html>
  <body>
    <h2> Yenom Invitation code. </h2>
    <div>
      Hey,
      <p>
        <%= currentUser.firstName %> has sent you an inviation on Yenom.
        Please follow the <a href="http://yenom.in:3000/#/sign-up?inviteCode=<%= invite.inviteCode %>">link</a> to register.
        Alernatively use Invite CODE: <%= invite.inviteCode %> to register.
      </p>
    </div>
  </body>
</html>
