<html>
  <body>
    <h2> Request for invitation code. </h2>
    <div>
      Hey,
      <p>
        There's a new request for invitation code, following are the details.
      </p>
      <p> Email: <%= req.email %> </p>
      <p> Comments: <%= req.comments %> </p>
    </div>
  </body>
</html>
